.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    min-height: 100vh;
    padding: 20px;
  }
  
  .dashboard-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .button-container {
    margin-bottom: 20px;
  }
  
  .add-user-btn {
    background-color: #383838;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .add-user-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .filter-container {
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .filter-input {
    flex-grow: 2;
    min-width: 250px;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border 0.3s;
  }
  
  .filter-input:focus {
    border-color: #007bff;
  }
  
  .filter-select {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .table-container {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    overflow-x: auto;
    margin-bottom: 45px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f8f8f8;
  }
  
  .user-table tbody tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
  }
  
  .user-role {
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
  }
  
  .admin {
    color: red;
  }
  
  .editor {
    color: blue;
  }
  
  .viewer {
    color: green;
  }
  
  .chart-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    max-width: 500px;
    align-items: center;
  }

  .chart {
    max-width: 90%;
  }

  .no-chart {
    font-size: 16px;
    font-weight: 500;
    color: #1c4980;
    text-align: center;
    margin-top: 20px;
}
  
  .no-users {
    font-size: 16px;
    color: #777;
    text-align: center;
    margin-top: 20px;
  }
  
  @media (max-width: 600px) {
    .filter-container {
      flex-direction: column;
      align-items: stretch;
    }
  
    .filter-input,
    .filter-select {
      width: 100%;
    }
  
    .table-container {
      width: 100%;
      overflow-x: auto;
      margin-bottom: 20px;
    }
  }

// load more
//   .load-more-btn {
//     display: block;
//     margin: 10px auto;
//     padding: 10px 20px;
//     font-size: 16px;
//     font-weight: bold;
//     background-color: #007bff;
//     color: white;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
// }

// .load-more-btn:hover {
//     background-color: #0056b3;
// }

//   .add-user-btn,
// .filter-input,
// .filter-select {
//   height: 48px;
//   font-size: 16px;
// }

  