<div class="dashboard-container">
    <h1 class="dashboard-title">User Management Table and Chart</h1>
  
    <div class="button-container">
      <button class="add-user-btn" (click)="openUserForm()">+ Add User</button>
    </div>
  
    <div class="chart-container" *ngIf="users.length > 0; else noChart">
        <canvas id="userChart" class="chart"></canvas>
    </div>

    <ng-template #noChart>
        <p class="no-chart">Chart will appear once users are added.</p>
    </ng-template>


    <div class="filter-container" *ngIf="users.length > 0">
      <input
        type="text"
        class="filter-input"
        placeholder="Search by name or email"
        [(ngModel)]="searchText"
        (input)="applyFilter()"
      />
  
      <select class="filter-select" [(ngModel)]="selectedRole" (change)="applyFilter()">
        <option value="">All Roles</option>
        <option value="Admin">Admin</option>
        <option value="Editor">Editor</option>
        <option value="Viewer">Viewer</option>
      </select>
    </div>
  
    <div class="table-container">
      <table class="user-table" *ngIf="filteredUsers.length > 0; else noUsers">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td class="user-role" [ngClass]="getRoleClass(user.role)">{{ user.role }}</td>
          </tr>
        </tbody>
        <!-- load more feature -->
        <!-- <button *ngIf="displayedUsers.length < filteredUsers.length" class="load-more-btn" (click)="loadMore()">Load More</button> -->
      </table>
    </div>
  
    <ng-template #noUsers>
      <p class="no-users">No users found.</p>
    </ng-template>
  </div>
  